.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
  
  .card {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0c2d4e;
    text-align: center;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    border-color: #0c2d4e;
    outline: none;
  }
  
  .passwordContainer {
    position: relative;
  }
  
  .passwordToggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .error {
    color: #ff7e5f;
    font-size: 0.875rem;
  }
  
  .button {
    padding: 0.75rem;
    font-size: 1rem;
    color: white;
    background: #0c2d4e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background: rgb(250, 250, 97);
    color: #0c2d4e;
    transform: translateY(-2px);
  }
  
  .spinnerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* High z-index to cover other content */
  }
  
  .success {
    color: green;
    font-size: 14px;
    padding: 8px;
    border: 1px solid green;
    border-radius: 4px;
    background-color: #eaffea; /* Light green background */
  }
  
  .error {
    color: red;
    font-size: 14px;
    padding: 8px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: #ffe6e6; /* Light red background */
  }
  