.footerContainer {
  background: linear-gradient(to right, #2c3e50, #3498db);
  color: #ecf0f1;
  padding: 0.1rem 0;
  text-align: center;
  overflow: hidden;

  p {
    color: #ecf0f1;
  }
}

.brand {
  color: #1e2030;
}

.primary {
  color: white;
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-left: 15px;

  a {
    display: inline-block;
    font-size: 1.5rem;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &.facebook {
      color: #3b5998;
    }

    &.twitter {
      color: #1da1f2;
    }

    &.instagram {
      color: #e4405f;
    }

    &.linkedin {
      color: #0077b5;
    }

    &.youtube {
      color: #ff0000;
    }
  }
}

.categoryButton {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid rgb(250, 250, 97);
  border-radius: 20px;
  color: #000000;
  background: linear-gradient(to right, #2c3e50, rgb(250, 250, 97));
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(247, 247, 21);
    color: rgb(0, 0, 0);
  }
}

.newsletterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
 
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    background: linear-gradient(to right, #2c3e50, #3498db);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h5 {
      margin-bottom: 10px;
      color: #000000;
    }

    form {
      display: flex;
      width: 100%;

      .newsletterInput {
        border: 1px solid #ffffff;
        border-radius: 5px 0 0 5px;
        padding: 10px;
        outline: none;
        width: 100%;
        max-width: 250px;
        background-color: #555;
        color: #ecf0f1;
      }

      .newsletterButton {
        border: 1px solid #6c757d;
        border-radius: 0 5px 5px 0;
        padding: 10px 20px;
        background: linear-gradient(to right, #2c3e50, rgb(250, 250, 97));
        color: #fff;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;

        &:hover {
          background-color: rgb(255, 255, 0);
        }
      }
    }
  }
}
.right {
  background: linear-gradient(to right, #2c3e50, rgb(250, 250, 97));
  color: #000000; /* Text color */
  padding: 10px; /* Padding around the content */
  text-align: center; /* Center-align text */
}

.right a {
  color:  linear-gradient(to right, #2c3e50, #3498db);
  text-decoration: none; /* Remove underline from links */
}

.right a:hover {
  text-decoration: underline; /* Underline links on hover */
}


